.ingredients {
    background-repeat: no-repeat; /* повторение*/
    background-position: center center; /*позиция картинки*/
    background-size: cover; /* заполонение картинки*/
    min-height: 758px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; /* ровняем содержимое по центру */
    background-image: url(../img/section-background-1.jpg);

}
.ingredients-item {
    position: relative;
    padding: 81px;
    max-width: 570px;
    border: solid 0.1px #fbf7c0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: 50%;


}