$primaryColor:  #ffffff;
$titleTextColor: #cc9900;
$paragraphcolor: #4c4c4c;


$mainFont: 'Yeseva One', cursive;
$secondaryFont: 'Lato', sans-serif;
$dateFont: 'Open Sans', sans-serif;


$smallHoverText: 14px;
$paragraphText: 16px;
$bigHoverText: 20px;
$titleText: 36px;
$headingText: 90px;
$footerText: 13px;
$navText: 21px;







