$primaryColor:  #ffffff;
$mainTextColor: #cc9900;


$mainFont: 'Yeseva One', cursive;
$secondaryFont: 'Lato', sans-serif;
$dateFont: 'Open Sans', sans-serif;


$smallHoverText: 14px;
$sectionText: 16px;
$bigHoverText: 20px;
$headingText: 30px;
$footerText: 13px;
$offerText: 22px;







